{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="row">
        <div>
            <h2>{{ form_label(form.title) }}</h2>
            {% for error in form.title.vars['errors'] %}
                <div class="form-control-feedback text-primary">{{ error.message }}</div>
            {% endfor %}
            {{ form_widget(form.title) }}
        </div>
    </div>
    {% if  app.request.get('_route') == 'program_edit' %}
    <div class="row">
        <div>
            <h2>{{ form_label(form.slug) }}</h2>
            {% for error in form.slug.vars['errors'] %}
                <div class="form-control-feedback text-primary">{{ error.message }}</div>
            {% endfor %}
            {{ form_widget(form.slug) }}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div>
            <h2>{{ form_label(form.summary) }}</h2>
            {% for error in form.summary.vars['errors'] %}
                <div class="form-control-feedback text-primary">{{ error.message }}</div>
            {% endfor %}
            {{ form_widget(form.summary) }}
        </div>
    </div>

    <div class="row">
        <div>
            <h2>{{ form_label(form.poster) }}</h2>
            {% for error in form.poster.vars['errors'] %}
                <div class="form-control-feedback text-primary">{{ error.message }}</div>
            {% endfor %}
            {{ form_widget(form.poster) }}
        </div>
    </div>

    <div class="row">
        <div>
            <h2>{{ form_label(form.category) }}</h2>
            {{ form_widget(form.category) }}
        </div>
    </div>

    <div class="row">
        <h2>{{ form_label(form.actors) }}</h2>
    </div>

    <div class="row">
        {% for actor in form.actors %}
            <div class="col-3">
                <label for="">{{ form_widget(actor) }}
                    <span>{{ actor.vars.label }}</span>
                </label>
            </div>
        {% endfor %}
    </div>
        {% if  app.request.get('_route') != 'program_edit' %}
            <div class="row d-none">
                <div>
                    <h2>{{ form_label(form.slug) }}</h2>
                    {% for error in form.slug.vars['errors'] %}
                        <div class="form-control-feedback text-primary">{{ error.message }}</div>
                    {% endfor %}
                    {{ form_widget(form.slug) }}
                </div>
            </div>
        {% endif %}

    <div class="row">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>


{{ form_end(form) }}
