{% extends('base.html.twig') %}

{% block title %} {{ website }} : {{ cat }} {% endblock %}

{%  block body %}

    <div class="container">
        <h1>Vous recherchez le séries de la catégorie : {{ cat }}</h1>

    {% for program in programs %}
        <p>
            <b>Série n°{{ program.id }} : <a href="{{ path('wild_show', { 'title': program.title|replace({' ':"-"})|lower }) }}">{{ program.title }}</a></b><br>
        {{ program.summary }}
        </p>
        <p>
            {{ program.seasons|length }} saisons
        </p>
    {% endfor %}

    </div>
{% endblock %}