{% extends('base.html.twig') %}

{% block title %} {{ cat }} {% endblock %}

{%  block body %}

    <div class="container">
        <h1>Vous recherchez le séries de la catégorie : {{ cat }}</h1>

    {% for program in programs %}
        <p>
        {{ program.id }} : {{ program.title }}<br>
        {{ program.summary }}
        </p>
    {% endfor %}
        <a href="{{ path('wild_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}