{% extends('base.html.twig') %}

{%  block body %}
    <div class="home-program">
        <div class="home-program-img">
            <img src="{{ home_program.poster }}" width="100%">
        </div>
        <div class="home-text">
            <h1>{{ home_program.title }}</h1>
            <span class="home-category">{{ home_program.category.name }}</span>
            <span class="home-seasons">{{ home_program.seasons|length }} saisons</span>
            <p>
                {{ home_program.summary }}
            </p>
            <p>
                <b>Acteur-trice-s princip-ales-aux : </b><br>
                {% for actor in home_program.actors %}
                    {% if (actor.leadRole == true) %}
                        {{ actor.name}}
                    {% endif %}

                {% endfor %}
            </p>
            <a class="btn btn-primary" href="{{ path('wild_show', { 'slug': home_program.slug }) }}">En savoir plus</a>
        </div>
    </div>


    <div class="">
        <div class="row program-cards">

        {% for program in programs %}
            {% if program.id != 1 %}
                <div class="card-program col-12 col-md-3">
                    <div class="card-content">
                        <div class="card-img">
                                <img src="{{ program.poster}}">
                        </div>
                        <div class="card-prog-description container">

                            {% if app.user %}
                                <a class="watch-btn {{ app.user.hasInWatchlist(program) ? 'in-list' : '' }}" href="#" data-target="{{ path('program_watchlist', {'program' : program.id}) }}"><i class="material-icons">favorite</i></a>
                            {% endif %}

                            <div class="row">
                                <div class="card-prog-title col-12">
                                    {{ program.title }}
                                </div>
                                <div class="col-6">
                                    <a class="card-category" href="{{ path('wild_cat', { 'cat': program.category.name|replace({' ':"-"})|lower }) }}">{{ program.category.name }}</a>
                                    <br><br><span class="card-seasons">{{ program.seasons|length }} saisons.</span><br>
                                    <a class="btn btn-primary btn-small" href="{{ path('wild_show', { 'slug': program.slug }) }}">Détails</a>
                                </div>
                                <div class="text-dark col-6">
                                    <b>Principaux acteurs</b><br>
                                    {% for actor in program.actors|slice(0, 3) %}
                                        <small>- {{ actor.name }}</small> <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
