<nav  class="navbar navbar-expand-lg">
    <a class="navbar-brand site-name" href="/">Wild Series</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/wild/show"></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                    {{ render(controller('App\\Controller\\NavController::selectCategories', {isActive: app.request.attributes.get('cat')})) }}

            </li>
        </ul>

        <ul class="form-inline mt-2 mt-md-0">

                {% if app.user %}
                    <span class="mgr10">Bonjour <a href="{{ path('user_profile') }}">{{ app.user.username }}</a></span>

                    <a class="btn btn-primary mgr10" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary admin-button" href="{{path('program_index')}}">EDITION</a>
                    {% endif %}

                {% else %}
                    <a class="btn btn-primary" href="{{ path('app_login') }}"> Se connecter</a>
                {% endif %}

        </ul>
    </div>
</nav>
