{% extends('base.html.twig') %}

{% block title %}{{ program.title }}{% endblock %}

{%  block body %}

    {% if (program) %}
    <div class="container">
        <h1>{{ program.title }}</h1>
        <p><b>Catégorie : </b>{{ program.category.name }}</p>
        <p>{{ program.summary }}</p>
        <p><img src="{{ program.poster }}" width="100"></p>
    </div>
        <a href="{{ path('wild_index') }}">
            Retour à l'accueil
        </a>
    {% endif %}
{% endblock %}